<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.map.fami2u" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>map</name>
    <js-module name="map" src="www/map.js">
        <clobbers target="map" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            
            <preference name="latitude" value= "$latitude"/>
            <preference name="longitude" value= "$longitude"/>
            
            <feature name="map">
                <param name="ios-package" value="map" />
            </feature>
        </config-file>
        <source-file src="src/ios/map.m" />
        <header-file src="src/ios/LBMapHelper.h" />
        <source-file src="src/ios/LBMapHelper.m" />
        
        <framework src="libsqlite3.0.tbd" />
        <framework src="libstdc++.6.0.9.tbd" />
        <framework src="AudioToolbox.framework" weak="true" />
        <framework src="ImageIO.framework" weak="true" />
        <framework src="CoreMotion.framework" weak="true" />
        <framework src="CoreLocation.framework" weak="true" />
        <framework src="CoreTelephony.framework" weak="true" />
        <framework src="MediaPlayer.framework" weak="true" />
        <framework src="AVFoundation.framework" weak="true" />
        <framework src="SystemConfiguration.framework" weak="true" />
        <framework src="AdSupport.framework" weak="true" />
        <framework src="JavaScriptCore.framework" weak="true" />
        <framework src="Security.framework" weak="true" />
        <framework src="MapKit.framework" weak="true" />

        <framework src="src/ios/BaiduMap_IOSSDK_v3.0.0_Lib/BaiduMapAPI_Base.framework" custom="true" />
        <framework src="src/ios/BaiduMap_IOSSDK_v3.0.0_Lib/BaiduMapAPI_Location.framework" custom="true" />
        <framework src="src/ios/BaiduMap_IOSSDK_v3.0.0_Lib/BaiduMapAPI_Map.framework" custom="true" />
        <framework src="src/ios/BaiduMap_IOSSDK_v3.0.0_Lib/BaiduMapAPI_Search.framework" custom="true" />
        <framework src="src/ios/BaiduMap_IOSSDK_v3.0.0_Lib/BaiduMapAPI_Utils.framework" custom="true" />


    </platform>
</plugin>
